body{
    background-color: #536691;
    color: white;
}
.cont{
    text-align: center;
    width: 65%;
    margin: 50px auto;
}
h1{
    font-size: 80px;
}
.list{
    color: black;
    width: 90%;
    text-align: left;
    margin: 30px auto;
    font-size: 20px;
}
.fa{
    color: #5c5c5c;
    font-size: 20px;
}

.lint{
    text-decoration: line-through;
    opacity: 0.7;
}